In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
df = pd.DataFrame()

direc = r'/Users/mitchell.carmen/Projects/Public_Projects/CV_brody/assets_for_dr_training/images'
files_to_run = os.listdir(direc)

In [3]:
image_names = []
for file in files_to_run:
    #df['image'] = os.path.join('assets_for_dr_training', file)
    image_names.append(os.path.join('images/', file))
    #df['image'] = image_names

In [4]:
image_names

['images/out53.png',
 'images/out47.png',
 'images/out90.png',
 'images/out84.png',
 'images/out85.png',
 'images/out91.png',
 'images/out46.png',
 'images/out52.png',
 'images/out78.png',
 'images/out44.png',
 'images/out50.png',
 'images/out87.png',
 'images/out93.png',
 'images/out92.png',
 'images/out86.png',
 'images/out51.png',
 'images/out45.png',
 'images/out79.png',
 'images/out41.png',
 'images/out55.png',
 'images/out69.png',
 'images/out82.png',
 'images/out96.png',
 'images/out97.png',
 'images/out83.png',
 'images/out68.png',
 'images/out54.png',
 'images/out40.png',
 'images/out8.png',
 'images/out56.png',
 'images/out42.png',
 'images/out95.png',
 'images/out81.png',
 'images/out80.png',
 'images/out94.png',
 'images/out43.png',
 'images/out57.png',
 'images/out9.png',
 'images/out108.png',
 'images/out120.png',
 'images/out18.png',
 'images/out30.png',
 'images/out24.png',
 'images/out25.png',
 'images/out31.png',
 'images/out19.png',
 'images/out121.png',
 'images/out109.png',
 'images/out123.png',
 'images/out27.png',
 'images/out33.png',
 'images/out32.png',
 'images/out26.png',
 'images/out122.png',
 'images/out22.png',
 'images/out36.png',
 'images/out37.png',
 'images/out23.png',
 'images/out125.png',
 'images/out119.png',
 'images/out35.png',
 'images/out21.png',
 'images/out20.png',
 'images/out34.png',
 'images/out118.png',
 'images/out124.png',
 'images/out115.png',
 'images/out101.png',
 'images/out39.png',
 'images/out11.png',
 'images/out10.png',
 'images/out38.png',
 'images/out100.png',
 'images/out114.png',
 'images/out102.png',
 'images/out116.png',
 'images/out12.png',
 'images/out13.png',
 'images/out117.png',
 'images/out103.png',
 'images/out107.png',
 'images/out113.png',
 'images/out17.png',
 'images/out16.png',
 'images/out112.png',
 'images/out106.png',
 'images/out110.png',
 'images/out104.png',
 'images/out14.png',
 'images/out28.png',
 'images/out29.png',
 'images/out15.png',
 'images/out105.png',
 'images/out111.png',
 'images/out4.png',
 'images/out72.png',
 'images/out66.png',
 'images/out99.png',
 'images/out98.png',
 'images/out67.png',
 'images/out73.png',
 'images/out5.png',
 'images/out7.png',
 'images/out59.png',
 'images/out65.png',
 'images/out71.png',
 'images/out70.png',
 'images/out64.png',
 'images/out58.png',
 'images/out6.png',
 'images/out2.png',
 'images/out60.png',
 'images/out74.png',
 'images/out48.png',
 'images/out49.png',
 'images/out75.png',
 'images/out61.png',
 'images/out3.png',
 'images/out1.png',
 'images/out77.png',
 'images/out63.png',
 'images/out88.png',
 'images/out89.png',
 'images/out62.png',
 'images/out76.png']

In [5]:
df

Empty DataFrame
Columns: []
Index: []

In [6]:
print(image_names)

['images/out53.png', 'images/out47.png', 'images/out90.png', 'images/out84.png', 'images/out85.png', 'images/out91.png', 'images/out46.png', 'images/out52.png', 'images/out78.png', 'images/out44.png', 'images/out50.png', 'images/out87.png', 'images/out93.png', 'images/out92.png', 'images/out86.png', 'images/out51.png', 'images/out45.png', 'images/out79.png', 'images/out41.png', 'images/out55.png', 'images/out69.png', 'images/out82.png', 'images/out96.png', 'images/out97.png', 'images/out83.png', 'images/out68.png', 'images/out54.png', 'images/out40.png', 'images/out8.png', 'images/out56.png', 'images/out42.png', 'images/out95.png', 'images/out81.png', 'images/out80.png', 'images/out94.png', 'images/out43.png', 'images/out57.png', 'images/out9.png', 'images/out108.png', 'images/out120.png', 'images/out18.png', 'images/out30.png', 'images/out24.png', 'images/out25.png', 'images/out31.png', 'images/out19.png', 'images/out121.png', 'images/out109.png', 'images/out123.png', 'images/out27.png', 'images/out33.png', 'images/out32.png', 'images/out26.png', 'images/out122.png', 'images/out22.png', 'images/out36.png', 'images/out37.png', 'images/out23.png', 'images/out125.png', 'images/out119.png', 'images/out35.png', 'images/out21.png', 'images/out20.png', 'images/out34.png', 'images/out118.png', 'images/out124.png', 'images/out115.png', 'images/out101.png', 'images/out39.png', 'images/out11.png', 'images/out10.png', 'images/out38.png', 'images/out100.png', 'images/out114.png', 'images/out102.png', 'images/out116.png', 'images/out12.png', 'images/out13.png', 'images/out117.png', 'images/out103.png', 'images/out107.png', 'images/out113.png', 'images/out17.png', 'images/out16.png', 'images/out112.png', 'images/out106.png', 'images/out110.png', 'images/out104.png', 'images/out14.png', 'images/out28.png', 'images/out29.png', 'images/out15.png', 'images/out105.png', 'images/out111.png', 'images/out4.png', 'images/out72.png', 'images/out66.png', 'images/out99.png', 'images/out98.png', 'images/out67.png', 'images/out73.png', 'images/out5.png', 'images/out7.png', 'images/out59.png', 'images/out65.png', 'images/out71.png', 'images/out70.png', 'images/out64.png', 'images/out58.png', 'images/out6.png', 'images/out2.png', 'images/out60.png', 'images/out74.png', 'images/out48.png', 'images/out49.png', 'images/out75.png', 'images/out61.png', 'images/out3.png', 'images/out1.png', 'images/out77.png', 'images/out63.png', 'images/out88.png', 'images/out89.png', 'images/out62.png', 'images/out76.png']

In [7]:
df['image'] = image_names
df['image'] = df['image'].str.replace('assets_for_dr_training', 'images', regex=False)
df['class'] = 0
df

                image  class
0    images/out53.png      0
1    images/out47.png      0
2    images/out90.png      0
3    images/out84.png      0
4    images/out85.png      0
..                ...    ...
120  images/out63.png      0
121  images/out88.png      0
122  images/out89.png      0
123  images/out62.png      0
124  images/out76.png      0

[125 rows x 2 columns]

In [8]:
df = df.sort_values(by='image', ascending=True).reset_index(drop=True)
df.head()

               image  class
0    images/out1.png      0
1   images/out10.png      0
2  images/out100.png      0
3  images/out101.png      0
4  images/out102.png      0

In [9]:
df2 = df.copy()
df2.head()

               image  class
0    images/out1.png      0
1   images/out10.png      0
2  images/out100.png      0
3  images/out101.png      0
4  images/out102.png      0

In [15]:
df2['digit'] = df2['image'].str.extractall(r'(\d+)').unstack().astype(int)
df2['digit'] = df2['digit'].apply(pd.to_numeric)
df2 = df2.sort_values(by='digit', ascending=True).reset_index(drop=True)
df2 = df2.drop('digit', axis=1)
df2.head(100)

                image  class
0     images/out1.png      0
1     images/out2.png      0
2     images/out3.png      0
3     images/out4.png      0
4     images/out5.png      0
..                ...    ...
95   images/out96.png      0
96   images/out97.png      0
97   images/out98.png      0
98   images/out99.png      0
99  images/out100.png      0

[100 rows x 2 columns]

In [21]:
#df2.iloc[60:85, :]

df2['class'].iloc[59:] = 1

/var/folders/gx/sjvrdx4d3r5f3t00857zx9500000gq/T/ipykernel_31137/3930160792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['class'].iloc[59:] = 1

In [26]:
df2.to_csv('assets_for_dr_training/training_data.csv', index=False)